.main-header {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: sandybrown;
  background-image: url(../images/binding-dark.png) ;
}

.nametitle {
  margin: 0 0 0 0;
  color: white;
}



