.tweets-section article {
  margin-top: 2em;
  margin-bottom: 1em;
  border: solid black 4px;
  background-color: white;
}


.tweets-section article header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 90%;
}

.tweets-section article header div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 15%;
  align-items: center;
  margin: 0.5em;
}

.tweets-section article header span{
  margin-left: 0.5em;
  margin-right: 1em;
}

.tweets-section article > div {
  margin: 0.5em;
  border-bottom: solid black 4px;
}

.tweets-section article footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 90%;
}

.tweets-section article footer div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 22%;
  align-items: center;
  margin: 0.5em;
}


.tweets-section article footer span{
  font-size: 0.65em;
  margin-left: 1em;
}

.tweets-section article footer div i:hover{
  color: red ;
  cursor: pointer;
}

.error {
  margin: 0.75em;
  border: solid red 4px;
}

.error p {
  font-weight: 300;
  color: red;
}